@import "./../breadcrumbs";

.contactForm {
  &_preset {
    .contactForm {
      &__input {
        background-color: rgba(255, 255, 255, .5);
        border-color: transparent;
        &:focus {
          border-color: #a1a1a1;
        }
      }
      &__btn {
        color: #fff;
        background-color: #ff7000;
        &:hover,
        &:focus,
        &:active {
          background-color: darken(#ff7000, 8%);
        }
      }
    }
  }
}
