@import "./../breadcrumbs";

.contactForm {
  &_preset {
    .contactForm {
      &__input {
        background-color: #fbfbfb;
        &:focus {
          border-color: #bebebe;
        }
      }
      &__btn {
        color: #fff;
        background-color: #000;
        &:hover,
        &:focus,
        &:active {
          background: lighten(#000, 15%);
        }
      }
    }
  }
}
