.wrapper {
  padding: 0 15px;
  &__paddingY {
    padding-top: 10px;
  }
}
.selectInner {
  &__title {
    font-size: 12px;
    color: #525252;
    font-weight: 600;
  }
  &__subtitle {
    display: block;
    color: #9f9f9f;
  }
  &__title,
  &__subtitle {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
